@charset "UTF-8";

#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;width:100%;line-height:0;font-size:0;color:#fff;background:#111;text-align:center;}
#skip li a:focus {line-height:50px;font-size:20px;}

#wrap {z-index:1;position:relative;top:0;left:0;width:100%;}

#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:80px;background:#fff;border:1px solid rgba(231,231,231, 1);}
#wrap #header .wrap {max-width:1603px;width:100%;margin:0 auto;}
#wrap #header .wrap .gap {margin:0 15px;}
#wrap #header .wrap .gap .container {width:100%;}
/* 로고 */
#wrap #header .wrap .gap .container #logo {float:left;padding:27.5px 0;}
#wrap #header .wrap .gap .container #logo a {display:block;width:100%;height:100%;}
#wrap #header .wrap .gap .container #logo a img {width:168.906px;height:25px;}
/* 네비게이션 - 메인메뉴 */
#wrap #header .wrap .gap .container #nav {float:right;}
#wrap #header .wrap .gap .container #nav > ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li {position:relative;float:left;padding:0 20px;}
#wrap #header .wrap .gap .container #nav > ul > li:last-child {float:left;padding:0 0 0 20px;}
#wrap #header .wrap .gap .container #nav > ul > li > a {display:inline-block;font-size:13px;font-weight:400;color:#878787;padding:34px 0;transition:all .3s;}
#wrap #header .wrap .gap .container #nav > ul > li > a:hover {color:#bbbbbb;}
#wrap #header .wrap .gap .container #nav > ul > li > a > i {font-size:12px;}
#wrap #header .wrap .gap .container #nav > ul > li > a > span {margin-top:8px;display:none;width:auto;height:1px;background:#878787;}
#wrap #header .wrap .gap .container #nav > ul > li > a > span.addBorder {display:block;}

/* 서브메뉴 */
#wrap #header .wrap .gap .container #nav > ul > li .sub {position:absolute;top:80px;left:0;width:160px;background:#fff;box-shadow:0 2px 7px rgba(0,0,0, .15);}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap {padding:0 20px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap ul {width:100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap ul li {width:120px;padding:13px 0;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap ul li a {font-size:11px;font-weight:400;color:#878787;transition:all .3s;letter-spacing:1px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap ul li a:hover {color:#bbbbbb}

/* 서비메뉴 숨기기 */
.sub {display:none;}

/* 모바일 버튼 */
#wrap #header .wrap .gap .container .mobile-btn-wrap {display:none;float:right;width:15px;height:12px;padding:24px 0;}
#wrap #header .wrap .gap .container .mobile-btn-wrap a {position:relative;display:block;width:100%;height:100%;}
#wrap #header .wrap .gap .container .mobile-btn-wrap a .bar {position:absolute;left:0;width:100%;height:100%;background:#878787;}
#wrap #header .wrap .gap .container .mobile-btn-wrap a .bar1 {top:0;width:15px;height:2px;}
#wrap #header .wrap .gap .container .mobile-btn-wrap a .bar2 {top:50%;width:15px;height:2px;margin-top:-1px;}
#wrap #header .wrap .gap .container .mobile-btn-wrap a .bar3 {bottom:0;width:15px;height:2px;}

#wrap #main {z-index:2;position:relative;top:81px;left:0;width:100%;}

/* section1 */
#wrap #main #section1 {width:100%;padding:130px 0;}
#wrap #main #section1 .wrap {width:100%;max-width:900px;margin:0 auto;}
#wrap #main #section1 .wrap .gap {margin:0 15px;}
#wrap #main #section1 .wrap .gap .container {width:100%;}
#wrap #main #section1 .wrap .gap .container .content {width:100%;}
#wrap #main #section1 .wrap .gap .container .content h2 {font-size:26px;font-weight:700;color:rgba(75,75,75, 1);padding-bottom:30px;}
#wrap #main #section1 .wrap .gap .container .content p  {font-size:13px;font-weight:400;color:rgba(135,135,135, 1);line-height:160%;}

/* section2 */
#wrap #main #section2 {width:100%;}
#wrap #main #section2 .wrap {width:100%;}
#wrap #main #section2 .wrap .gap {margin:0;}
#wrap #main #section2 .wrap .gap .container {width:100%;}
#wrap #main #section2 .wrap .gap .container .content {z-index:1;position:relative;width:100%;height:465px;background:url(../img/5c985ea91d582.jpg) no-repeat 50% 50%;background-size:cover;filter:grayscale(90%);}

/* section3 */
#wrap #main #section3 {width:100%;padding:130px 0;}
#wrap #main #section3 .wrap {width:100%;max-width:900px;margin:0 auto;}
#wrap #main #section3 .wrap .gap {margin:0 15px;}
#wrap #main #section3 .wrap .gap .container {width:100%;}
#wrap #main #section3 .wrap .gap .container .content {width:100%;}
#wrap #main #section3 .wrap .gap .container .content .top-wrap {width:100%;max-width:840px;margin:0 auto;}
#wrap #main #section3 .wrap .gap .container .content .top-wrap .top-gap {margin:0;}
#wrap #main #section3 .wrap .gap .container .content .top-wrap .top-gap .top-content {width:100%;}
#wrap #main #section3 .wrap .gap .container .content .top-wrap .top-gap .top-content .img-wrap {width:100%;}
#wrap #main #section3 .wrap .gap .container .content .top-wrap .top-gap .top-content .img-wrap img {width:100%;}

#wrap #main #section3 .wrap .gap .container .content .bottom-wrap {width:100%;padding-top:50px;}
#wrap #main #section3 .wrap .gap .container .content .bottom-wrap .bottom-gap {margin:0;}
#wrap #main #section3 .wrap .gap .container .content .bottom-wrap .bottom-gap .bottom-content {width:100%;}
#wrap #main #section3 .wrap .gap .container .content .bottom-wrap .bottom-gap .bottom-content h2 {font-size:26px;font-weight:700;color:rgba(75,75,75, 1);padding-bottom:30px;}
#wrap #main #section3 .wrap .gap .container .content .bottom-wrap .bottom-gap .bottom-content p  {font-size:13px;font-weight:400;color:rgba(135,135,135, 1);line-height:160%;}

/* section4 */
#wrap #main #section4 {width:100%;}
#wrap #main #section4 .wrap {width:100%;max-width:1543px;margin:0 auto;}
#wrap #main #section4 .wrap .gap {margin:0;}
#wrap #main #section4 .wrap .gap .container {width:100%;}
#wrap #main #section4 .wrap .gap .container .content {width:100%;height:945px;}
#wrap #main #section4 .wrap .gap .container .content .left-wrap {float:left;width:50%;height:100%;}
#wrap #main #section4 .wrap .gap .container .content .left-wrap .left-gap {padding:0 20px;height:100%;}
#wrap #main #section4 .wrap .gap .container .content .left-wrap .left-gap .left-content {width:100%;height:100%;background:url(../img/5cac38a3a682b.jpg) no-repeat 50% 50%;background-size:cover;}

#wrap #main #section4 .wrap .gap .container .content .right-wrap {float:left;width:50%;height:100%;}
#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap {padding:0 20px;height:100%;}
#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content {width:100%;height:100%;}

#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content .top-wrap {width:100%;height:50%;}
#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content .top-wrap .top-gap {padding-bottom:20px;height:100%;box-sizing:border-box;}
#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content .top-wrap .top-gap .top-content {width:100%;height:100%;background:url(../img/5cac38c06d283.jpg) no-repeat 50% 50%;background-size:cover;}

#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content .bottom-wrap {width:100%;height:50%;}
#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content .bottom-wrap .bottom-gap {padding-top:20px;height:100%;box-sizing:border-box;}
#wrap #main #section4 .wrap .gap .container .content .right-wrap .right-gap .right-content .bottom-wrap .bottom-gap .bottom-content {width:100%;height:100%;background:url(../img/5cac38fbd0cac.jpg) no-repeat 50% 50%;background-size:cover;}

/* section5 */
#wrap #main #section5 {width:100%;padding:130px 0;}
#wrap #main #section5 .wrap {width:100%;max-width:960px;margin:0 auto;}
#wrap #main #section5 .wrap .gap {margin:0 15px;}
#wrap #main #section5 .wrap .gap .container {width:100%;}
#wrap #main #section5 .wrap .gap .container .content {width:100%;}
#wrap #main #section5 .wrap .gap .container .content .img-wrap {width:70%;margin:0 auto;}
#wrap #main #section5 .wrap .gap .container .content .img-wrap img {width:100%;}
#wrap #main #section5 .wrap .gap .container .content .text-wrap {width:100%;padding-top:50px;}
#wrap #main #section5 .wrap .gap .container .content .text-wrap h2 {font-size:26px;font-weight:700;color:rgba(75,75,75, 1);padding-bottom:30px;}
#wrap #main #section5 .wrap .gap .container .content .text-wrap p  {font-size:13px;font-weight:400;color:rgba(135,135,135, 1);line-height:160%;}

/* section6 */
#wrap #main #section6 {width:100%;}
#wrap #main #section6 .wrap {width:100%;}
#wrap #main #section6 .wrap .gap {margin:0;}
#wrap #main #section6 .wrap .gap .container {width:100%;}
#wrap #main #section6 .wrap .gap .container .content {width:100%;height:704px;background:url(../img/708083ec10c4f.jpg) no-repeat 50% 100%;background-size:cover;}


#wrap #footer {z-index:1;position:relative;top:81px;left:0;width:100%;padding:50px 0;background:#f5f5f5;}
#wrap #footer .wrap {width:100%;max-width:1170px;margin:0 auto;}
#wrap #footer .wrap .gap {margin:0;}
#wrap #footer .wrap .gap .container {width:100%;}
#wrap #footer .wrap .gap .container .content {width:100%;}
#wrap #footer .wrap .gap .container .content ul {width:100%;}
#wrap #footer .wrap .gap .container .content ul li {float:left;}
#wrap #footer .wrap .gap .container .content ul li:nth-child(1) {width:16.8082051%;}
#wrap #footer .wrap .gap .container .content ul li:nth-child(2) {width:58.831453%;}
#wrap #footer .wrap .gap .container .content ul li:nth-child(3) {width:16.8082051%;}
#wrap #footer .wrap .gap .container .content ul li:nth-child(4) {width:7.5494017%;}
#wrap #footer .wrap .gap .container .content ul li .content-gap {padding:0 15px;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap {width:100%;}
#wrap #footer .wrap .gap .container .content ul li:nth-child(4) .content-gap .content-wrap {text-align:right;}
/* 1칸 */
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .img-wrap {width:100%;height:100%;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .img-wrap img {width:166.656px;height:22px;}
/* 2칸 */
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .col {font-size:12px;color:#999999;font-weight:400;line-height:200%;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .col br {display:block;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .col a {font-size:12px;color:#999999;font-weight:400;line-height:23.73px;}
/* 3칸 */
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .sns {padding:5px 0;font-size:12px;font-weight:500;line-height:21.6px;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .sns a {color:#999999;transition:all .3s;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .sns a:hover {color:#cdcdcd;}
/* 4칸 */
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap span {display:inline-block;border:3px solid #cdcdcd;width:35px;height:35px;text-align:center;border-radius:50%;transition:all .3s;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap span:hover {border:3px solid #777;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap span a {display:block;width:100%;height:100%;color:#cdcdcd;line-height:30px;transition:all .3s;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap span a:hover {color:#777;}
#wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap span a i {font-size:20px;}

/* search */
#wrap #search {display:none;z-index:4;position:fixed;top:0;left:0;width:100%;height:100%;max-height:969px;background:rgba(0,0,0, .7);transition:all .3s ease-in-out;padding-right:0;}
#wrap #search .wrap {width:100%;height:100%;max-width:760px;margin:0 auto;}
#wrap #search .wrap .gap {padding-top:200px;height:100%;}
#wrap #search .wrap .gap .container {width:100%;height:100%;}
#wrap #search .wrap .gap .container .content {width:100%;height:100%;}
#wrap #search .wrap .gap .container .content form {width:100%;height:100%;}
#wrap #search .wrap .gap .container .content form div {width:100%;padding:15px 0;border-bottom:1px solid #fff;}
#wrap #search .wrap .gap .container .content form div input {float:left;width:90%;appearance:none;background:transparent;outline:0;border:0;font-size:25px;color:#fff;font-weight:600;}
#wrap #search .wrap .gap .container .content form div a {float:right;display:block;color:#fff;}
#wrap #search .wrap .gap .container .content form div a i {font-size:25px;}
#wrap #search .wrap .gap .container .content .close-btn-wrap {position:absolute;top:30px;right:30px;width:50px;height:50px;}
#wrap #search .wrap .gap .container .content .close-btn-wrap a {width:100%;height:100%;color:#fff;}
#wrap #search .wrap .gap .container .content .close-btn-wrap a i {font-size:40px;}


/* 모바일버튼클릭시 나오는 메인메뉴 */
#wrap #sub-modal {z-index:5;position:fixed;top:0;right:-300px;width:300px;height:100%;max-height:969px;transition:all .3s;}
#wrap #sub-modal.addRight {right:0;}
#wrap #sub-modal .wrap {width:100%;height:100%;}
#wrap #sub-modal .wrap .gap {margin:0;height:100%;}
#wrap #sub-modal .wrap .gap .container {width:100%;height:100%;}
#wrap #sub-modal .wrap .gap .container .content {width:100%;height:100%;}
#wrap #sub-modal .wrap .gap .container .content .right-box {float:right;width:100%;height:100%;background:#fff;opacity:1;transition:all .3s ease-in-out;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul {width:100%;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li {width:100%;border-bottom:1px solid rgba(230,230,230, 1);}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li > a {display:block;padding:14px 20px;font-size:12px;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li > a > i {float:right;font-size:12px;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li .modal-sub {display:none;width:100%;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li .modal-sub .modal-sub-gap {margin:0;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li .modal-sub .modal-sub-gap ul {width:100%;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li .modal-sub .modal-sub-gap ul li {width:100%;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li .modal-sub .modal-sub-gap ul li a {display:block;padding:8px 30px;font-size:11px;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li.addBack {background:#f5f5f5;}
#wrap #sub-modal .wrap .gap .container .content .right-box > ul > li .modal-sub .modal-sub-gap ul li.addBack {background:#f5f5f5;}

/* 모바일버튼클릭시나오는 검정백그라운드 */
#wrap #modal-bg {display:none;z-index:4;position:fixed;top:0;left:0;width:100%;height:969px;background:rgba(0,0,0, .7);}
#wrap #modal-bg .wrap {width:100%;}
#wrap #modal-bg .wrap .gap {width:100%;}
#wrap #modal-bg .wrap .gap .container {width:100%;}