@charset "UTF-8";

@media all and (max-width:1200px){

}


@media all and (max-width:980px){
    #wrap #header {height:60px;}
    #wrap #header .wrap .gap {margin:0 15px;}
    #wrap #header .wrap .gap .container {width:100%;}
    /* 로고 */
    #wrap #header .wrap .gap .container #logo {float:left;padding:17.5px 0;}
    #wrap #header .wrap .gap .container #logo .img-wrap {width:100%;height:100%;}
    #wrap #header .wrap .gap .container #logo .img-wrap a {display:block;width:100%;height:100%;}
    #wrap #header .wrap .gap .container #logo .img-wrap a img {width:168.906px;height:25px;}
    /* 네비게이션 - 메인메뉴 */
    #wrap #header .wrap .gap .container #nav {display:none;}
    #wrap #header .wrap .gap .container .mobile-btn-wrap {display:block;}
    
    /* 메인 */
    #wrap #main {top:60px;}

    /* section1 */
    #wrap #main #section1 {width:100%;padding:55px 0;}
    #wrap #main #section1 .wrap .gap .container .content .col1 li {float:left;width:50%;}
    #wrap #main #section1 .wrap .gap .container .content .col1 li:nth-child(1) {border-top:1px solid rgba(0,0,0, .1);}
    #wrap #main #section1 .wrap .gap .container .content .col1 li:nth-child(2) {border-top:1px solid rgba(0,0,0, .1);}
    #wrap #main #section1 .wrap .gap .container .content .col1 li:nth-child(9) {border:0;}

    /* section2 */
    #wrap #main #section2 {height:350px;}


    /* section3 */
    #wrap #main #section3 {padding:55px 0;}
    #wrap #main #section3 .wrap .gap .container .content ul li .content-gap .content-wrap div {width:100%;}

    /* section4 */
    #wrap #main #section4 .wrap .gap .container {height:350px;}

    /* section5 */
    #wrap #main #section5 {width:100%;padding:55px 0;}



    /* footer */
    #wrap #footer {top:60px;padding-top:55px;padding-bottom:0;}
    #wrap #footer .wrap .gap .container .content ul li:nth-child(1) {width:100%;}
    #wrap #footer .wrap .gap .container .content ul li:nth-child(2) {width:100%;}
    #wrap #footer .wrap .gap .container .content ul li:nth-child(3) {width:100%;}
    #wrap #footer .wrap .gap .container .content ul li:nth-child(4) {width:100%;}
    #wrap #footer .wrap .gap .container .content ul li .content-gap {padding:10px 15px;}
    #wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .sns {display:inline-block;padding:0 10px;}
    #wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .sns:first-child {padding:0 10px 0 0;}


    



}

@media all and (max-width:760px){

    /* section1 */
    #wrap #main #section1 .wrap .gap .container .content .text-wrap .text-gap {padding:0;}
    #wrap #main #section1 .wrap .gap .container .content .text-wrap .text-gap .text-content h2 {font-size:24px;}
    #wrap #main #section1 .wrap .gap .container .content .text-wrap .text-gap .text-content p  {font-size:12px;padding-bottom:30px;}

    /* section2 */
    #wrap #main #section2 {height:300px;}

    /* section3 */
    #wrap #main #section3 .wrap .gap .container .title span.black  {font-size:24px;}
    #wrap #main #section3 .wrap .gap .container .title span.gray   {font-size:24px;}
    #wrap #main #section3 .wrap .gap .container .content ul li .content-gap .content-wrap div .name strong {font-size:15px;}
    #wrap #main #section3 .wrap .gap .container .content ul li .content-gap .content-wrap div .name span {font-size:15px;}
    #wrap #main #section3 .wrap .gap .container .content ul li .content-gap .content-wrap div p {font-size:12px;}
    #wrap #main #section3 .wrap .gap .container .content ul li {padding-top:30px;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(2) .content-gap .content-wrap div p,
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(4) .content-gap .content-wrap div p {padding-bottom:15px;}

    /* section4 */
    #wrap #main #section4 .wrap .gap .container {height:300px;}
    #wrap #main #section4 .wrap .gap .container .content {text-align:left;}
    #wrap #main #section4 .wrap .gap .container .content h5 {font-size:18px;}
    #wrap #main #section4 .wrap .gap .container .content p  {font-size:12px;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .title span.black   {font-size:24px;}
    #wrap #main #section5 .wrap .gap .container .title span.gray    {font-size:24px;}
    #wrap #main #section5 .wrap .gap .container .title span.small   {display:block;padding-top:5px;}
    #wrap #main #section5 .wrap .gap .container .title p {padding:20px 0 30px 0;}


}

@media all and (max-width:500px){

    /* section1 */
    #wrap #main #section1 .wrap .gap .container .content .col1 li {float:left;width:100%;}
    #wrap #main #section1 .wrap .gap .container .content .col1 li:nth-child(2) {border-top:0;}

    /* section2 */
    #wrap #main #section2 {height:250px;}


    /* footer */
    #wrap #footer .wrap .gap .container .content ul li .content-gap .content-wrap .col br {display:none;}



}

@media all and (max-width:470px){

    #wrap #main #section4 .wrap .gap .container .content {top:20%;}


}

@media all and (max-width:400px){

    /* section2 */
    #wrap #main #section2 {height:200px;}

    /* section4 */
    #wrap #main #section4 .wrap .gap .container .content {top:15%;}


}
